@page
@model AvangardumPersonalWebsite.Pages.Contact

@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
Email: yurykuz65@gmail.com<br/>
Phone: +7 (977) 357-74-91<br/>
<a href="https://www.linkedin.com/in/yuriy-kuzminykh-11618a212/">LinkedIn</a><br/>
<a href="https://github.com/Avangardum">GitHub</a><br/>
