@page
@model AvangardumPersonalWebsite.Pages.Education
@{
    ViewData["Title"] = "Education";
}

<link rel="stylesheet" href="css/education.css"/>

<h1>Education</h1>

<h2>Scream School game development intensive course</h2>
<img class="scream-school-logo" src="img/Scream School.png" alt="Scream School"/>
<p>I have passed a 1 month long game development intensive course in the Scream School, where I got various
    game development skills.</p>

<h2>Netology game design course</h2>
<img class="netology-logo" src="img/Netology.png" alt="Netology">
<p>I have passed a 4 month long game design course in the Netology online school, where I got various game design skills.</p>

<h2>Geekbrains game development course</h2>
<img class="geekbrains-logo" src="img/GeekBrains.png" alt="GeekBrains"/>
<p>I have passed a year long game development course in the Geekbrains online school. There I acquired a lot of skills, 
such as general programming skills, JavaScript, SQL, C#, Unity. Also that course included a lot of practice.</p>

<h2>Other Education</h2>
<p>Besides these cources, I invested a lot of time and effort into learning independently: watching videos, reading books 
and articles about various aspects of software development.</p>
<div class="books">
    <img src="img/Code Complete.jpg" alt="Code Complete">
    <img src="img/Clean Architecture.jpg" alt="Clean Architecture">
    <img src="img/Clean Agile.jpg" alt="Clean Agile">
    <img src="img/The Clean Coder.jpg" alt="The Clean Coder">
    <img src="img/AspNet Core in Action.png" alt="ASP.NET Core in Action">
</div>
