@page
@model AvangardumPersonalWebsite.Pages.Education

@{
    ViewData["Title"] = "Education";
}

<h1>Education</h1>
<br/>
<h2>Netology game design course</h2>
<img src="img/Netology.png" alt="Netology" height="90"><br/>
I have passed a 4 month long game design course in the Netology online school, where I got various game design skills.<br/>
<br/>
<h2>Geekbrains game development course</h2>
<img src="img/GeekBrains.png" alt="GeekBrains" height="80"/><br/>
I have passed a year long game development course in the Geekbrains online shcools. There I acquired a lot of skills, 
such as general programming skills, JavaScript, SQL, C#, Unity. Also that course included a lot of practice.<br/>
<br/>
<h2>Other Education</h2>
Besides these cources, I invested a lot of time and effort into learning independently: watching videos, reading books 
and articles about various aspects of developoment.<br/>
<img src="img/Code Complete.jpg" width="200">
<img src="img/Clean Architecture.jpg" width="200">
<img src="img/Clean Agile.jpg" width="200">
<img src="img/The Clean Coder.jpg" width="200">
<img src="img/AspNet Core in Action.png" width="200">
