@page
@model AvangardumPersonalWebsite.Pages.Projects

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<h2>Twilight Run</h2>
Twilight run is a runner game for mobile devices, made with Unity. Currently this game is in the stage of pre-release
testing and will be available on Google Play soon.<br/>
<img src="img/Twilight Run Screenshot 1.png" alt="Twilight Run Screenshot 1" height="400"/>
<img src="img/Twilight Run Screenshot 2.png" alt="Twilight Run Screenshot 2" height="400"/>
<img src="img/Twilight Run Screenshot 3.png" alt="Twilight Run Screenshot 3" height="400"/><br/>
<a href="https://github.com/Avangardum/Twilight-Run">
    <img class="external-website-button" src="img/GitHub Button.png" alt="GitHub"/>
</a>

<h2>Astro: The Beginning</h2>
Astro: The Beginning is a side crolling shoot'em up game for PC, made with Unity. The game was initially developed by another developer,
but later I was hired to finish it.<br/>
<img src="img/Astro The Beginning Screenshot 1.jpg" alt="Astro: The Beginning Screenshot 1" width="500"/>
<img src="img/Astro The Beginning Screenshot 2.jpg" alt="Astro: The Beginning Screenshot 2" width="500"/><br/>
<a href="https://store.steampowered.com/app/1082200/ASTRO_The_Beginning/">
    <img class="external-website-button" src="img/Steam Button.png" alt="Steam"/>
</a>

<h2>Pixel Crush</h2>
Pixel Crush is a mobile runner game where a player needs to destroy voxel obstacles with their finger. The game is made with Unity.<br/>
<img src="img/Pixel Crush Screenshot 1.webp" alt="Pixel Crush Screenshot 1" height="400"/>
<img src="img/Pixel Crush Screenshot 2.webp" alt="Pixel Crush Screenshot 2" height="400"/>
<img src="img/Pixel Crush Screenshot 3.webp" alt="Pixel Crush Screenshot 3" height="400"/><br/>
<a href="https://play.google.com/store/apps/details?id=com.broscogames.pixelcrush">
    <img class="external-website-button" src="img/Google Play Button.png" alt="Google Play"/>
</a>

<h2>Lift Swift</h2>
Lift Swift is a mobile puzzle game that is a variation of the classic wolf, goat and cabbage problem. The game is made with Unity.<br/>
<img src="img/Lift Swift Screenshot 1.webp" alt="Lift Swift Screenshot 1" height="400"/>
<img src="img/Lift Swift Screenshot 2.webp" alt="Lift Swift Screenshot 2" height="400"/>
<img src="img/Lift Swift Screenshot 3.webp" alt="Lift Swift Screenshot 3" height="400"/><br/>
<a href="https://play.google.com/store/apps/details?id=com.broscogames.liftswift">
    <img class="external-website-button" src="img/Google Play Button.png" alt="Google Play"/>
</a>

<h2>Drone Tank Arena</h2>


<h2>Mafia New City</h2>


<h2>Affectus Dream</h2>


<h2>Genshin Dota Project</h2>


<h2>Demoniac</h2>


<h2>Through a Thousand Eyes</h2>


<h2>Test Tasks</h2>
