@page
@model AvangardumPersonalWebsite.Pages.Projects
@{
    ViewData["Title"] = "Projects";
}

<link rel="stylesheet" href="css/projects.css"/>

<h1>Projects</h1>

<!--
Template:
<div class="project-info">
    <h3>Name</h3>
    <p>Description</p>
    <div class="vertical-screenshot-gallery">
        
    </div>
    <div class="external-website-button-gallery">
        
    </div>
</div>
-->

<h2>Finished Projects</h2>

<div class="project-info">
    <h3>Cucumbermart</h3>
    <p>
        Cucumbermart is a visual novel about starting a new grocery store business. You spent your life working for a
        big grocery store chain, but now you have a chance to open a store of your own. Will you overcome all of the
        hurdles and lead your business to success? Made with RenPy as a part of Fuck Capitalism Jam 2023.
    </p>
    <div class="horizontal-screenshot-gallery">
        <img src="img/Cucumbermart Screenshot 1.png" alt="Cucumbermart Screenshot">
        <img src="img/Cucumbermart Screenshot 2.png" alt="Cucumbermart Screenshot">
    </div>
    <div class="external-website-button-gallery">
        <a href="https://avangardum.itch.io/cucumbermart">
            <img src="img/ItchIo Button.png" alt="Itch.io"/>
        </a>
    </div>
</div>

<div class="project-info">
    <h3>Life Arena</h3>
    <p>
        Life Arena in a multiplayer Conway's Game of Life, in which all players share the same game field and have 
        limited capabilities to place cells on it. Made with ASP.NET and Unity.
    </p>
    <div class="horizontal-screenshot-gallery">
        <img src="img/Life Arena Screenshot.png" alt="Life Arena Screenshot">
    </div>
    <div class="external-website-button-gallery">
        <a class="external-website-text-button" href="https://lifearena.avangardum.net">Play in browser (PC)</a>
    </div>
</div>

<div class="project-info">
    <h3>Twilight Run</h3>
    <p>Twilight run is a runner game for mobile devices, made with Unity.</p>
    <div class="vertical-screenshot-gallery">
        <img src="img/Twilight Run Screenshot 1.png" alt="Twilight Run Screenshot 1"/>
        <img src="img/Twilight Run Screenshot 2.png" alt="Twilight Run Screenshot 2"/>
        <img src="img/Twilight Run Screenshot 3.png" alt="Twilight Run Screenshot 3"/>
    </div>
    <div class="external-website-button-gallery">
        <a href="https://github.com/Avangardum/Twilight-Run">
            <img src="img/GitHub Button.png" alt="GitHub"/>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.Avangardum.TwilightRun">
            <img src="img/Google Play Button.png" alt="Google Play"/>
        </a>
    </div>
</div>

<div class="project-info">
    <h3>Astro: The Beginning</h3>
    <p>Astro: The Beginning is a side scrolling shoot'em up game for PC, made with Unity. The game was initially developed by another developer,
    but later I was hired to finish it.</p>
    <div class="horizontal-screenshot-gallery">
        <img src="img/Astro The Beginning Screenshot 1.jpg" alt="Astro: The Beginning Screenshot 1"/>
        <img src="img/Astro The Beginning Screenshot 2.jpg" alt="Astro: The Beginning Screenshot 2"/>
    </div>
    <div class="external-website-button-gallery">
        <a href="https://store.steampowered.com/app/1082200/ASTRO_The_Beginning/">
            <img src="img/Steam Button.png" alt="Steam"/>
        </a>
    </div>
</div>

<div class="project-info">
    <h3>Pixel Crush</h3>
    <p>Pixel Crush is a mobile runner game where a player needs to destroy voxel obstacles with their finger. The game is made with Unity.</p>
    <div class="vertical-screenshot-gallery">
        <img src="img/Pixel Crush Screenshot 1.webp" alt="Pixel Crush Screenshot 1"/>
        <img src="img/Pixel Crush Screenshot 2.webp" alt="Pixel Crush Screenshot 2"/>
        <img src="img/Pixel Crush Screenshot 3.webp" alt="Pixel Crush Screenshot 3"/>
    </div>
    <div class="external-website-button-gallery">
        <a href="https://play.google.com/store/apps/details?id=com.broscogames.pixelcrush">
            <img src="img/Google Play Button.png" alt="Google Play"/>
        </a>
    </div>
</div>

<div class="project-info">
    <h3>Lift Swift</h3>
    <p>Lift Swift is a mobile puzzle game that is a variation of the classic wolf, goat and cabbage problem. The game is made with Unity.</p>
    <div class="vertical-screenshot-gallery">
        <img src="img/Lift Swift Screenshot 1.webp" alt="Lift Swift Screenshot 1"/>
        <img src="img/Lift Swift Screenshot 2.webp" alt="Lift Swift Screenshot 2"/>
        <img src="img/Lift Swift Screenshot 3.webp" alt="Lift Swift Screenshot 3"/>
    </div>
    <div class="external-website-button-gallery">
        <a href="https://play.google.com/store/apps/details?id=com.broscogames.liftswift">
            <img src="img/Google Play Button.png" alt="Google Play"/>
        </a>
    </div>
</div>

<h2>Unfinished projects and prototypes</h2>

<div class="project-info">
    <h3>Geometry War</h3>
    <p>Geometry War is a 2D RTS game early in development. Made with Unity and Photon Quantum</p>
    <div class="horizontal-screenshot-gallery">
        <img src="img/Geometry War Concept Art.png" alt="Geometry War Concept Art"/>
    </div>
    <div class="external-website-button-gallery">
        
    </div>
</div>

<div class="project-info">
    <h3>Drone Tanks Arena</h3>
    <p>Drone tanks arena is an arcade mobile game where a player controlls a tank and fights various enemies on an arena. Unfrortunately, 
    the project was suspended for business reasons. Made with Unity.</p>
    <div class="vertical-screenshot-gallery">
        <img src="img/Drone Tanks Arena Screenshot 1.jpg" alt="Drone Tank Arena Screenshot 1"/>
        <img src="img/Drone Tanks Arena Screenshot 2.jpg" alt="Drone Tank Arena Screenshot 2"/>
        <img src="img/Drone Tanks Arena Screenshot 3.jpg" alt="Drone Tank Arena Screenshot 3"/>
    </div>
</div>

<div class="project-info">
    <h3>Mafia New City Online</h3>
    <p>Mafia New City Online is a mobile implementation of the classic mafia game. The game includes a video and audio chat. 
    Unfrortunately, the project was suspended for business reasons. Made with Unity and PUN2.</p>
    <div class="vertical-screenshot-gallery">
        <img src="img/Mafia New City Online Screenshot 1.png" alt="Mafia New City Online Screenshot 1"/>    
    </div>
</div>

<div class="project-info">
    <h3>Affectus Dream</h3>
    <p>Affectus Dream is a Hack-and-Slash game for PC and consoles. I took part in deveopment of the technical demo, that you 
        can see in the pictures below. The project is currently in search of investments for further development. Made with Unity.</p>
    <div class="horizontal-screenshot-gallery">
        <img src="img/Affectus Dream Screenshot 1.png" alt="Affectus Dream Screenshot 1"/>
        <img src="img/Affectus Dream Screenshot 2.png" alt="Affectus Dream Screenshot 2"/>
    </div>
</div>

<div class="project-info">
    <h3>Genshin Dota Project</h3>
    <p>Genshing Dota Project is a mod prototype for Dota 2. The idea was to add heroes and mechanics from Genshin Impact to Dota 2.
    I greatly underestimated the scale of the project. After developing a small prototyle I decided to abandon the project.</p>
    <div class="horizontal-screenshot-gallery">
        <img src="img/Genshin Dota Project Screenshot 1.jpg" alt="Genshin Dota Project Screenshot 1"/>
    </div>
    <div class="external-website-button-gallery">
        <a href="https://github.com/Avangardum/genshin-dota-project">
            <img src="img/GitHub Button.png" alt="GitHub"/>
        </a>
    </div>
</div>

<div class="project-info">
    <h3>Demoniac</h3>
    <p>Demoniac is a small platformer game prototype for PC, made with Unity. The game was developed as a part of the GMTK Game Jam 2020.</p>
    <div class="horizontal-screenshot-gallery">
        <img src="img/Demoniac Screenshot 1.png" alt="Demoniac Screenshot 1"/><br/>
    </div>
    <div class="external-website-button-gallery">
        <a href="https://avangardum.itch.io/demoniac">
            <img src="img/ItchIo Button.png" alt="Itch.io"/>
        </a>
        <a href="https://github.com/Avangardum/Demoniac-prototype">
            <img src="img/GitHub Button.png" alt="GitHub"/>
        </a>
    </div>
</div>

<div class="project-info">
    <h3>Through a Thousand Eyes</h3>
    <p>Through a Thousand Eyes is an abandoned idle game about spiders, made with Unity.</p>
    <div class="horizontal-screenshot-gallery">
        <img src="img/Through a Thousand Eyes Screenshot 1.png" alt="Through a Thousand Eyes Screenshot 1"/>
    </div>
    <div class="external-website-button-gallery">
        <a href="https://github.com/Avangardum/through-a-thousand-eyes">
            <img src="img/GitHub Button.png" alt="GitHub"/>
        </a>
    </div>
</div>

<div class="project-info">
    <h3>Darkness Contamination</h3>
    <p>Demoniac is a cooperative puzzle platformer game prototype for PC, made as a part of my early education. 
    Made with Unity.<p/>
    <div class="horizontal-screenshot-gallery">
        <img src="img/Darkness Contamination Screenshot 1.png" alt="Darkness Contamination Screenshot 1"/>
    </div>
    <div class="external-website-button-gallery">
        <a class="external-website-text-button" href="https://drive.google.com/file/d/1wV-z-hMSTzY6bLAP1E6nqqOCSuYG4bj1/view">
            Build
        </a>
        <a class="external-website-text-button" href="https://drive.google.com/file/d/1pyCvRGwytNiJH4O3VG-w680lnCccj7Mq/view">
            Source Code
        </a>
        <a class="external-website-text-button" href="https://www.youtube.com/watch?v=l8ofCF5zsJI">
            Video
        </a>
    </div>
</div>

<div class="project-info">
    <h3>The Rival</h3>
    <p>The rival is a prototype of a boss rush top-down shooter bullet hell game for PC, made with Unity.</p>
    <div class="horizontal-screenshot-gallery">
        <img src="img/The Rival Screenshot 1.png" alt="The Rival Screenshot 1"/><br/>
    </div>
    <div class="external-website-button-gallery">
        <a href="https://github.com/Avangardum/The-Rival">
            <img src="img/GitHub Button.png" alt="GitHub"/>
        </a>
    </div>
</div>
