@page
@model AvangardumPersonalWebsite.Pages.Projects

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<h2>Finished Projects</h2>

<h3>Astro: The Beginning</h3>
Astro: The Beginning is a side scrolling shoot'em up game for PC, made with Unity. The game was initially developed by another developer,
but later I was hired to finish it.<br/>
<img src="img/Astro The Beginning Screenshot 1.jpg" alt="Astro: The Beginning Screenshot 1" width="500"/>
<img src="img/Astro The Beginning Screenshot 2.jpg" alt="Astro: The Beginning Screenshot 2" width="500"/><br/>
<a class="external-website-button" href="https://store.steampowered.com/app/1082200/ASTRO_The_Beginning/">
    <img class="external-website-button" src="img/Steam Button.png" alt="Steam"/>
</a>

<h3>Pixel Crush</h3>
Pixel Crush is a mobile runner game where a player needs to destroy voxel obstacles with their finger. The game is made with Unity.<br/>
<img src="img/Pixel Crush Screenshot 1.webp" alt="Pixel Crush Screenshot 1" height="400"/>
<img src="img/Pixel Crush Screenshot 2.webp" alt="Pixel Crush Screenshot 2" height="400"/>
<img src="img/Pixel Crush Screenshot 3.webp" alt="Pixel Crush Screenshot 3" height="400"/><br/>
<a class="external-website-button" href="https://play.google.com/store/apps/details?id=com.broscogames.pixelcrush">
    <img class="external-website-button" src="img/Google Play Button.png" alt="Google Play"/>
</a>

<h3>Lift Swift</h3>
Lift Swift is a mobile puzzle game that is a variation of the classic wolf, goat and cabbage problem. The game is made with Unity.<br/>
<img src="img/Lift Swift Screenshot 1.webp" alt="Lift Swift Screenshot 1" height="400"/>
<img src="img/Lift Swift Screenshot 2.webp" alt="Lift Swift Screenshot 2" height="400"/>
<img src="img/Lift Swift Screenshot 3.webp" alt="Lift Swift Screenshot 3" height="400"/><br/>
<a class="external-website-button" href="https://play.google.com/store/apps/details?id=com.broscogames.liftswift">
    <img class="external-website-button" src="img/Google Play Button.png" alt="Google Play"/>
</a>

<h2>Unfinished Projects and Prototypes</h2>

<h3>Twilight Run</h3>
Twilight run is a runner game for mobile devices, made with Unity. Currently this game is in the stage of pre-release
testing and will be available on Google Play soon.<br/>
<img src="img/Twilight Run Screenshot 1.png" alt="Twilight Run Screenshot 1" height="400"/>
<img src="img/Twilight Run Screenshot 2.png" alt="Twilight Run Screenshot 2" height="400"/>
<img src="img/Twilight Run Screenshot 3.png" alt="Twilight Run Screenshot 3" height="400"/><br/>
<a class="external-website-button" href="https://github.com/Avangardum/Twilight-Run">
    <img class="external-website-button" src="img/GitHub Button.png" alt="GitHub"/>
</a>

<h3>Drone Tanks Arena</h3>
Drone tanks arena is an arcade mobile game where a player controlls a tank and fights various enemies on an arena. Unfrortunately, 
the project was suspended for business reasons. Made with Unity.<br/>
<img src="img/Drone Tanks Arena Screenshot 1.jpg" alt="Drone Tank Arena Screenshot 1" height="400"/>
<img src="img/Drone Tanks Arena Screenshot 2.jpg" alt="Drone Tank Arena Screenshot 2" height="400"/>
<img src="img/Drone Tanks Arena Screenshot 3.jpg" alt="Drone Tank Arena Screenshot 3" height="400"/>

<h3>Mafia New City Online</h3>
Mafia New City Online is a mobile implementation of the classic mafia game. The game includes a video and audio chat. 
Unfrortunately, the project was suspended for business reasons. Made with Unity and PUN2.<br/>
<img src="img/Mafia New City Online Screenshot 1.png" alt="Mafia New City Online Screenshot 1" height="400"/>

<h3>Affectus Dream</h3>
Affectus Dream is a Hack-and-Slash game for PC and consoles. I took part in deveopment of the technical demo, that you 
can see in the pictures below. The project is currently in search of investments for further development. Made with Unity.<br/>
<img src="img/Affectus Dream Screenshot 1.png" alt="Affectus Dream Screenshot 1" width="500"/>
<img src="img/Affectus Dream Screenshot 2.png" alt="Affectus Dream Screenshot 2" width="500"/>

<h3>Genshin Dota Project</h3>
Genshing Dota Project is a mod prototype for Dota 2. The idea was to add heroes and mechanics from Genshin Impact to Dota 2.
I greatly underestimated the scale of the project. After developing a small prototyle I decided to abandon the project.<br/>
<img src="img/Genshin Dota Project Screenshot 1.jpg" alt="Genshin Dota Project Screenshot 1" width="500"/><br/>
<a class="external-website-button" href="https://github.com/Avangardum/genshin-dota-project">
    <img class="external-website-button" src="img/GitHub Button.png" alt="GitHub"/>
</a>

<h3>Demoniac</h3>
Demoniac is a small platformer game prototype for PC, made with Unity. The game was developed as a part of the GMTK Game Jam 2020.<br/>
<img src="img/Demoniac Screenshot 1.png" alt="Demoniac Screenshot 1" width="500"/><br/>
<a class="external-website-button" href="https://avangardum.itch.io/demoniac">
    <img class="external-website-button" src="img/ItchIo Button.png" alt="Itch.io"/>
</a>
<a class="external-website-button" href="https://github.com/Avangardum/Demoniac-prototype">
    <img class="external-website-button" src="img/GitHub Button.png" alt="GitHub"/>
</a>

<h3>Through a Thousand Eyes</h3>
Through a Thousand Eyes is an abandoned idle game about spiders, made with Unity.<br/>
<img src="img/Through a Thousand Eyes Screenshot 1.png" alt="Through a Thousand Eyes Screenshot 1" width="500"/><br/>
<a class="external-website-button" href="https://github.com/Avangardum/through-a-thousand-eyes">
    <img class="external-website-button" src="img/GitHub Button.png" alt="GitHub"/>
</a>

<h3>Darkness Contamination</h3>
Demoniac is a cooperative puzzle platformer game prototype for PC, made as a part of my early education. Made with Unity.<br/>
<img src="img/Darkness Contamination Screenshot 1.png" alt="Darkness Contamination Screenshot 1" width="500"/><br/>
<a href="https://drive.google.com/file/d/1wV-z-hMSTzY6bLAP1E6nqqOCSuYG4bj1/view">Build</a><br/>
<a href="https://drive.google.com/file/d/1pyCvRGwytNiJH4O3VG-w680lnCccj7Mq/view">Source Code</a><br/>
<a href="https://www.youtube.com/watch?v=l8ofCF5zsJI">Video</a>

<h3>The Rival</h3>
The rival is a prototype of a boss rush top-down shooter bullet hell game for PC, made with Unity.<br/>
<img src="img/The Rival Screenshot 1.png" alt="The Rival Screenshot 1" width="500"/><br/>
<a class="external-website-button" href="https://github.com/Avangardum/The-Rival">
    <img class="external-website-button" src="img/GitHub Button.png" alt="GitHub"/>
</a>
