@page
@model AvangardumPersonalWebsite.Pages.Skills
@{
    var skillValues = new Dictionary<string, double>
    {
        ["Software engineering"] = 0.8,
        ["C#"] = 0.9,
        ["Unity"] = 0.8,
        ["ASP.NET"] = 0.6,
        ["Blazor"] = 0.5,
        ["WPF"] = 0.4,
        ["Avalonia"] = 0.3,
        ["MAUI"] = 0.3,
        ["HTML"] = 0.7,
        ["CSS"] = 0.5,
        ["JavaScript"] = 0.4,
        ["Docker"] = 0.5,
        ["SQL"] = 0.3,
        ["F#"] = 0.2,
        ["Lua"] = 0.8,
        ["Java"] = 0.2,
        ["Kotlin"] = 0.3,
        ["Git"] = 0.7,
        ["Github"] = 0.7,
        ["Game Design"] = 0.7,
        ["Software Architecture"] = 0.5,
        ["Agile"] = 0.3,
        ["Image Editing"] = 0.3,
        ["Video Editing"] = 0.2,
    };
    ViewData["Title"] = "Skills";
}

<link rel="stylesheet" href="css/skills.css"/>

<h1>Skills</h1>

<div class="skills-grid">
    @foreach (var (skill, value) in skillValues)
    {
        <label>@skill</label>
        <progress max="1" value="@value"></progress>
    }
</div>
