h2
{
    margin: 20px 0;
}

p,
.vertical-screenshot-gallery,
.horizontal-screenshot-gallery,
.external-website-button-gallery
{
    margin: 5px 0;
}

.project-info
{
    margin: 20px 0;
}

.vertical-screenshot-gallery img
{
    height: 400px
}

.horizontal-screenshot-gallery img
{
    width: 500px;
}

.external-website-button-gallery
{
    display: flex;
    gap: 5px;
}

.external-website-button-gallery img
{
    height: 70px;
}

.external-website-button-gallery a
{
    text-decoration: none;
}

.external-website-text-button
{
    padding: 18px 16px;
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
}

.external-website-text-button:hover
{
    color: white;
}